* {
    padding: 0;
    margin: 0;
    background-color: black;
}

.nav {
    background: black;
}

nav{
    display: flex;
    flex-direction: row;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    width: 100%;
    padding: 3%;
    padding-left: 55%;
}

nav ul li {
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    align-items: center;
    padding-left: 7%

}

nav ul li a {
    text-decoration: none;
    border-radius: 15px;
    color: white;
}

.home {
    padding-left: 2%
}

.svg {
    width: 70px;
    object-fit: contain;
    margin: 0 auto;
}

.logoutbtn{
    cursor: pointer;
}

