<div>
    <div class="nav">
        <nav>
            <ul>
                <li class="home"><a href="/"><img class="svg" src="/assets/key-electric-car-svgrepo-com.svg"></a></li>
                <li><a href="/create">Add a car</a></li>
                <li><a href="/catalog">Catalog</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
    
            </ul>
        </nav>
    </div>

    <div class="bgimg">
        <img src="/assets/wallpaper2.jpg">
    </div>
</div>

        


